<!-- Recover Password Step 2 Component -->
<div id="recover-password2">
  <div *ngIf="!loading" fxLayout="column" class="recover-container">
    <div fxLayout="row" fxFlexOffset="2rem" style="width: 100%;margin-left: -1rem;" (click)="switchView('recover-password')">
      <i class="material-icons" style="font-size: 40px;cursor: pointer;">keyboard_arrow_left</i>
    </div>
    <div fxLayout="row" fxFlexOffset="2rem">
      <h1 class="recover-title">Recover Password</h1>
    </div>
    <div fxLayout="column" fxFlexOffset="2rem" class="alert alert-danger">
      <p>Do not close this webpage or you will have to restart!</p>
      <p>We sent a Password Reset Token to you via the information provided.</p>
      <p>You must have it in order to continue using this form!</p>
    </div>
    <div fxLayout="column" fxLayoutAlign="start center" *ngIf="recoverPasswordForm2" [formGroup]="recoverPasswordForm2">
      <div *ngIf="errors && errors.non_field_errors" fxLayout="row" fxFlexOffset="2rem" class="alert alert-danger">
        <div *ngFor="let err of errors.non_field_errors">
          <p>{{err}}</p>
        </div>
      </div>
      <div *ngIf="!submitted" fxLayout="row" fxFlexOffset="2rem" class="recover-input">
        <input matInput placeholder="Reset Token" class="recover-input recover-title" style="font-size: 4rem;" type="text" formControlName="tokenrp2" required />
      </div>
      <div *ngIf="submitted && !recoverPasswordForm2.controls.tokenrp2.valid">
        <p>Email is required</p>
      </div>
      <div *ngIf="errors && errors.token" fxLayout="column" fxFlexOffset="2rem" class="alert alert-danger">
        <div *ngFor="let err of errors.token">
          <p>{{err}}</p>
        </div>
      </div>

      <div *ngIf="!submitted" fxLayout="row" fxFlexOffset="2rem" class="recover-input">
        <input matInput placeholder="Password" class="recover-input recover-title" style="font-size: 4rem;" type="password" autocomplete="current-password" formControlName="passwordrp2" required />
      </div>
      <div *ngIf="submitted && !recoverPasswordForm2.controls.passwordrp2.valid">
        <p>Password is required</p>
      </div>
      <div *ngIf="errors && errors.new_password" fxLayout="column" fxFlexOffset="2rem" class="alert alert-danger">
        <div *ngFor="let err of errors.new_password">
          <p>{{err}}</p>
        </div>
      </div>

      <div *ngIf="!submitted" fxLayout="row" fxFlexOffset="2rem" class="recover-input">
        <input matInput placeholder="Password again" class="recover-input recover-title" style="font-size: 4rem;" type="password" autocomplete="current-password" formControlName="password2rp2" required />
      </div>
      <div *ngIf="submitted && !recoverPasswordForm2.controls.password2rp2.valid">
        <p>Password is required</p>
      </div>
      <div *ngIf="errors && errors.new_password" fxLayout="column" fxFlexOffset="2rem" class="alert alert-danger">
        <div *ngFor="let err of errors.new_password">
          <p>{{err}}</p>
        </div>
      </div>

      <div *ngIf="!submitted" fxLayout="column" fxFlexOffset="2rem" class="recover-input">
        <re-captcha (captchaResponse)="setCaptchaResponse($event)" site_key="6LcXViIUAAAAABZF263l-SJh3rZAe95Sx2LPN-Dc"></re-captcha>
        <div *ngIf="errors && errors.captcha" fxLayout="column" fxFlexOffset="2rem" class="alert alert-danger">
          <div *ngFor="let err of errors.captcha">
            <p>{{err}}</p>
          </div>
        </div>
      </div>

      <div fxLayout="row" class="recover-button" fxFlexOffset="2rem">
        <button mat-flat-button class="recover-button" style="background: #EA6C40;color: #ffffff;" (click)="resetPassword()">Send Email</button>
      </div>
      <div *ngIf="submitted" fxLayoutAlign="center center" fxFlexOffset="2rem">
        <mat-progress-spinner></mat-progress-spinner>
      </div>
    </div>
  </div>
</div>
