<!-- Recover Password2 Component -->
<div id="recover-password2">
  <div *ngIf="!loading" fxLayout="column" class="recover-container">
    <div fxLayout="column" fxLayoutAlign="start center" *ngIf="recoverPasswordForm" [formGroup]="recoverPasswordForm">
      <div fxLayout="row" fxFlexOffset="2rem" style="width: 100%;margin-left: -1rem;" (click)="back()">
        <i class="material-icons" style="font-size: 40px;cursor: pointer;">keyboard_arrow_left</i>
      </div>
      <div fxLayout="row" fxFlexOffset="2rem">
        <h1 class="recover-title">Recover Password</h1>
      </div>
      <div *ngIf="errors && errors.non_field_errors" fxLayout="column" fxFlexOffset="2rem" class="alert alert-danger">
        <div *ngFor="let err of errors.non_field_errors">
          <p>{{err}}</p>
        </div>
      </div>

      <div *ngIf="!submitted" fxLayout="row" fxFlexOffset="2rem" class="recover-input">
        <input matInput placeholder="Email" class="recover-input recover-title" style="font-size: 4rem;" type="email" autocomplete="current-email" formControlName="emailrp" required />
      </div>
      <div *ngIf="submitted && !recoverPasswordForm.controls.emailrp.valid">
        <p>Email is required</p>
      </div>
      <div *ngIf="errors && errors.email" fxLayout="column" fxFlexOffset="2rem" class="alert alert-danger">
        <div *ngFor="let err of errors.email">
          <p>{{err}}</p>
        </div>
      </div>

      <div *ngIf="!submitted" fxLayout="row" fxFlexOffset="2rem"class="recover-input">
        <input matInput placeholder="Username" class="recover-input recover-title" style="font-size: 4rem;" type="text" autocomplete="username" formControlName="usernamerp" required />
      </div>
      <div *ngIf="submitted && !recoverPasswordForm.controls.usernamerp.valid">
        <p>Username is required</p>
      </div>
      <div *ngIf="errors && errors.username" fxLayout="column" fxFlexOffset="2rem" class="alert alert-danger">
        <div *ngFor="let err of errors.username">
          <p>{{err}}</p>
        </div>
      </div>

      <div *ngIf="!submitted" fxLayout="column" fxFlexOffset="2rem" class="recover-input">
        <re-captcha (captchaResponse)="setCaptchaResponse($event)" site_key="6LcXViIUAAAAABZF263l-SJh3rZAe95Sx2LPN-Dc"></re-captcha>
        <div *ngIf="errors && errors.captcha" fxLayout="column" fxFlexOffset="2rem" class="alert alert-danger">
          <div *ngFor="let err of errors.captcha">
            <p>{{err}}</p>
          </div>
        </div>
      </div>

      <div fxLayout="row" class="recover-button" fxFlexOffset="2rem">
        <button mat-flat-button class="recover-button" style="background: #EA6C40;color: #ffffff;" (click)="recoverPassword()">Send Email</button>
      </div>
      <div *ngIf="submitted" fxLayoutAlign="center center" fxFlexOffset="2rem">
        <mat-progress-spinner></mat-progress-spinner>
      </div>
    </div>
  </div>
</div>

<!-- <mat-card class="register-card">
  <a class="logoLink" routerLink="/" routerLinkActive="active"><img class="logo" src="https://static.wildfyre.net/wildfyre.png" alt="WildFyre"></a>
  <mat-card-content>
    <h2>Recover Password</h2>
    <div class="alert alert-danger">
      <h4>Warning!</h4>
      Do not close this webpage or you will have to restart!<br>
      We sent a Password Reset Token to you via the information provided.<br>
      You must have it in order to continue using this form!
    </div>
    <div class="alert alert-info">
      Passwords must contain at least 8 characters and be alphanumeric (At least 1 letter and 1 number)
    </div>
    <form name="form" id="signup-form" (ngSubmit)="f.form.valid && resetPassword()" #f="ngForm" novalidate>
      <div *ngIf="errors && errors.non_field_errors" class="alert alert-danger">
        <ul *ngFor="let err of errors.non_field_errors">
          <li>{{err}}</li>
        </ul>
      </div>

      <div class="form" [ngClass]="{ 'has-error': f.submitted && (!token.valid || (errors && errors.token)) }">
        <mat-form-field>
          <input matInput placeholder="Password Reset Token" type="text" name="token" [(ngModel)]="model.token" #token="ngModel" autocomplete="username" required />
        </mat-form-field>
        <div *ngIf="f.submitted && !token.valid" class="help-block">Token is required</div>
        <div *ngIf="errors && errors.token" class="help-block">
          <ul *ngFor="let err of errors.token">
            <li>{{err}}</li>
          </ul>
        </div>
      </div>

      <div class="form" [ngClass]="{ 'has-error': f.submitted && (!password.valid || (errors && errors.new_password)) }">
        <mat-form-field>
          <input matInput placeholder="New Password" type="password" name="password" [(ngModel)]="model.password" #password="ngModel" autocomplete="new-password" required />
        </mat-form-field>
        <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        <div *ngIf="errors && errors.new_password" class="help-block">
          <ul *ngFor="let err of errors.new_password">
            <li>{{err}}</li>
          </ul>
        </div>
      </div>

      <div class="form" [ngClass]="{ 'has-error': f.submitted && (!password2.valid || (errors && errors.new_password)) }">
        <mat-form-field>
          <input matInput placeholder="New Password (repeat)" type="password" name="password2" [(ngModel)]="model.password2" #password2="ngModel" autocomplete="new-password" required />
        </mat-form-field>
        <div *ngIf="f.submitted && !password2.valid" class="help-block">Password is required</div>
        <div *ngIf="errors && errors.new_password" class="help-block">
          <ul *ngFor="let err of errors.new_password">
            <li>{{err}}</li>
          </ul>
        </div>
      </div>

      <div class="captcha" style="transform:scale(0.80);transform-origin:0 0">
        <re-captcha (captchaResponse)="setCaptchaResponse($event)" site_key="6LcXViIUAAAAABZF263l-SJh3rZAe95Sx2LPN-Dc"></re-captcha>
        <div *ngIf="errors && errors.captcha" class="help-block has-error">
          <ul *ngFor="let err of errors.captcha">
            <li>{{err}}</li>
          </ul>
        </div>
      </div>
      <div class="form">
        <button class="wideButtons" mat-raised-button color="accent" [disabled]="submitted">Reset</button>
        <mat-progress-spinner *ngIf="submitted"></mat-progress-spinner>
      </div>
      </form>

  </mat-card-content>
</mat-card> -->
