<!-- Login  Component -->
<div id="login">
  <div *ngIf="!loading" fxLayout="column" fxLayoutAlign="center center" class="login-container">
    <div fxLayout="column" fxLayoutAlign="start center" *ngIf="loginForm" [formGroup]="loginForm">
      <div fxLayout="row" fxFlexOffset="2rem">
        <img routerLink="/" class="login-image" src="/assets/logo.png" alt="WildFyre" />
      </div>
      <div fxLayout="row" fxFlexOffset="2rem">
        <h1 class="login-title">Welcome to WildFyre!</h1>
      </div>
      <div fxLayout="row">
        <h2 class="login-subtitle">Social media built for you, by you</h2>
      </div>
      <div *ngIf="errors && errors.non_field_errors" fxLayout="column" fxFlexOffset="2rem" class="alert alert-danger">
        <div *ngFor="let err of errors.non_field_errors">
          <p>{{err}}</p>
        </div>
      </div>

      <div *ngIf="!submitted" fxLayout="row" fxFlexOffset="2rem" class="login-input">
        <input matInput placeholder="Username" class="login-input login-title" type="text" autocomplete="username" formControlName="usernamel" required />
      </div>
      <div *ngIf="submitted && !loginForm.controls.usernamel.valid">
        <p>Username is required</p>
      </div>
      <div *ngIf="errors && errors.username" fxLayout="column" fxFlexOffset="2rem" class="alert alert-danger">
        <div *ngFor="let err of errors.username">
          <p>{{err}}</p>
        </div>
      </div>

      <div *ngIf="!submitted" fxLayout="row" fxFlexOffset="1rem" class="login-input">
        <input matInput placeholder="Password" class="login-input login-title" type="password" autocomplete="current-password" formControlName="passwordl" required />
      </div>
      <div *ngIf="submitted && !loginForm.controls.passwordl.valid">
        <p>Password is required</p>
      </div>
      <div *ngIf="errors && errors.password" fxLayout="column" fxFlexOffset="2rem" class="alert alert-danger">
        <div *ngFor="let err of errors.password">
          <p>{{err}}</p>
        </div>
      </div>

      <div fxLayout="row" class="login-button" fxFlexOffset="2rem">
        <button mat-stroked-button [disabled]="submitted" class="login-button" (click)="login()">Let's Go!</button>
      </div>
      <div fxLayout="row" class="login-button" fxFlexOffset="2rem">
        <button mat-flat-button class="login-button" style="background: #EA6C40;color: #ffffff;" routerLink="/register">Register</button>
      </div>

      <div *ngIf="submitted" fxLayoutAlign="center center" fxFlexOffset="2rem">
        <mat-progress-spinner></mat-progress-spinner>
      </div>
      <div fxLayout="row" fxFlexOffset="2rem" fxLayoutAlign="start center" style="width: 100%">
        <a routerLink="/recover/username" style="padding-right: 2rem;cursor: pointer;">Forgot Username?</a>
        <a routerLink="/recover/password" style="cursor: pointer;">Forgot Password?</a>
      </div>
    </div>
  </div>
</div>
